h1 {
  font-weight: 500;
  text-align: center;
}

input {
  width: 99%;
  padding: 10px;
  margin: 20px 10px;
  box-sizing: border-box;
}
.itemDiv:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.itemDiv {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.emojiAndName {
  display: flex;
  gap: 8px;
  align-items: center;
}

hr {
  margin: 0px 10px;
}
.itemDiv .copyText {
  color: grey;
  opacity: 0.4;
  display: none;
}
.itemDiv:hover .copyText {
  display: inline-block;
}
